<!-- Product Name -->
<h2>{{plant.name}}</h2>

<!-- Image of Product -->
<div>
    <img style="height: 300px; width: auto; padding-bottom: 20px;" src="images/{{plant.image}}">
</div>

<!-- Properties -->
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <td>{{plant.id}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{plant.description}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>${{plant.price}}</td>
        </tr>
        <tr>
            <th>Environment</th>
            <td>{{plant.environment}}</td>
        </tr>
        <tr>
            <th>Height Estimate</th>
            <td>{{plant.heightEst}}</td>
        </tr>
        <tr>
            <th>Sun Exposure</th>
            <td>{{plant.sunExp}}</td>
        </tr>
    </table>
</div>

<br/>

<form action="add">
    <input type="submit" value="Add to Cart"/>
    <input type="hidden" name="id" value="{{plant.id}}"/>
</form>
